{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h1>Profile</h1>
<div class="row">
    <div class="col-md-4">
        {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" class="img-fluid rounded-circle" alt="Avatar">
        {% endif %}
    </div>
    <div class="col-md-8">
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>First Name:</strong> {{ user.first_name }}</p>
        <p><strong>Last Name:</strong> {{ user.last_name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Bio:</strong> {{ profile.bio }}</p>
        <p><strong>Birth Date:</strong> {{ profile.birth_date }}</p>
        <a href="{% url 'profile_update' %}" class="btn btn-primary">Edit Profile</a>
        <a href="{% url 'change_password' %}" class="btn btn-secondary">Change Password</a>
    </div>
</div>
{% endblock %}